body{
    background-color: lightblue;
}

#title{
    text-align: center;
}

#a_classic{
    display: block;
    width: 50%;
    margin: 0 auto;
}

#lyrics{
    text-align: center;
    margin: 25px 150px;
}
